@* <h1>Client List</h1> *@

@* <form action="/clients" method="post">
  <label for="new-client">Add a new client</label>
  <input id="new-client" name="new-client" type="text">
  <button type="submit">Submit</button>
</form> *@

@* this has been added for my categories *@

<h1>Add a new client to @Model.GetName()</h1>
<form action='/clients' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model.GetId()'>
  <label for='client-name'>Item name</label>
  <input id='client-name' name='client-name' type='text'>
  <button type='submit'>Add client</button>
</form>
