<h1>List of Stylists</h1>
<ul>
  @foreach(var client in Model)
  {
    <li>@client.GetDescription()</li>
  }
</ul>
@* Added this for my stylists *@
<h3><a href='/stylists'>View Stylist</a></h3>
<h3><a href='/stylists/new'>Add a new stylist</a></h3>

@* this is for adding clients without stylists *@
<p><a href="/clients/new">Add another Client/a></p>
<form action="/clients/delete" method="post">
  <button type="submit" name="button">Clear All Clients</button>
</form>
