<h3>Here are all stylists:</h3>
<ol>
@foreach (var stylist in @Model["stylists"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/stylists/@stylist.GetId()'>@Stylist.GetName()</a></li>
}
</ol>
<p><a href='/stylists/@Model["stylist"].GetId()/stylists/new'>Add a new stylist</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
